@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body{
    background-color: #0c133b;
}

h1{
    margin: 5px 0 20px 0;
    color: gray;
    font-family: 'Tektur', cursive;
}

#board {
    display: inline-grid;
    grid-gap: 5px;
    grid-template-areas: 
    "info info info";
    grid-template-columns: 40px;
    grid-template-rows: 50px;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;
    background-color: darkgray;
}

#info {
    grid-area: info;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    height: 50px;
}

#timer, #flags {
    background-color: black;
    color: red;
    font-size: 25px;
}

.is-hidden {
    display: none;
    opacity: 0;
}

.multiline{
    white-space: pre-wrap;
}

.bold{
    font-weight: bold;
}

#rulesText{
    font-family: 'Tektur', cursive;
    display: table;
    background-color: #bfc3d9;
    margin: 10px 0 -20px 0;
}

ul{
    margin: 5px 0;
    font-size: 16px;
}

li{
    margin: 0 5px 0 0;
    font-size: 14px;
}

input[type='button']{
    font-family: 'Tektur', cursive;
    background-color: #bfc3d9;
}

#difficulties{
    padding: 40px 0 20px 0;
}

.changeBoard, .toggle{
    margin: 0 5px 0 0;
}

#results{
    margin: 10px 0 0 0;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    background-color: #bfc3d9;
    display: table;
    font-family: 'Tektur', cursive;
    font-weight: bolder;
}