#board {
    display: inline-grid;
    grid-gap: 5px;
    grid-template-areas: 
    "info info info";
    grid-template-columns: 40px;
    grid-template-rows: 50px;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;
    background-color: darkgray;
}

/*.one {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
  
.two {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
  
.three {
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
  
.four {
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.five {
    background-color: purple;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.six {
    background-color: teal;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}*/

#info {
    grid-area: info;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    height: 50px;
}

#timer, #flags {
    background-color: black;
    color: red;
    font-size: 25px;
}

.is-hidden {
    display: none;
    opacity: 0;
}